In [1]:
import findspark
findspark.init()

import pandas as pd
import pyspark

In [2]:
from pyspark.sql import functions as f
import pandas as pd

In [3]:
from pyspark.sql import SparkSession

spark = SparkSession.builder\
        .master("local[*]")\
        .appName('PySpark_DayWise')\
        .getOrCreate()

22/08/26 13:41:48 WARN Utils: Your hostname, MacBook-Air-de-Willians.local resolves to a loopback address: 127.0.0.1; using 192.168.18.9 instead (on interface en0)
22/08/26 13:41:48 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/08/26 13:41:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
22/08/26 13:41:56 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [4]:
dataDayWise = spark.read.csv(
    'archive/day_wise.csv',
    sep = ',',
    header = True,
    )

dataDayWise.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Confirmed: string (nullable = true)
 |-- Deaths: string (nullable = true)
 |-- Recovered: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- New cases: string (nullable = true)
 |-- New deaths: string (nullable = true)
 |-- New recovered: string (nullable = true)
 |-- Deaths / 100 Cases: string (nullable = true)
 |-- Recovered / 100 Cases: string (nullable = true)
 |-- Deaths / 100 Recovered: string (nullable = true)
 |-- No. of countries: string (nullable = true)

In [5]:
dataDayWise.show(6)

+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|      Date|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|No. of countries|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|2020-01-22|      555|    17|       28|   510|        0|         0|            0|              3.06|                 5.05|                 60.71|               6|
|2020-01-23|      654|    18|       30|   606|       99|         1|            2|              2.75|                 4.59|                  60.0|               8|
|2020-01-24|      941|    26|       36|   879|      287|         8|            6|              2.76|                 3.83|                 72.22|               9|
|2020-01-25|     1434|    42|       39|  1353|      493|        16|            3|              2.93|                 2.72|                107.69|              11|
|2020-01-26|     2118|    56|       52|  2010|      684|        14|           13|              2.64|                 2.46|                107.69|              13|
|2020-01-27|     2927|    82|       61|  2784|      809|        26|            9|               2.8|                 2.08|                134.43|              16|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
only showing top 6 rows

In [6]:
from pyspark.sql.types import *

data_schema = [
               StructField('Date', DateType(), True),
               StructField('Confirmed', IntegerType(), True),
               StructField('Deaths', IntegerType(), True),
               StructField('Recovered', IntegerType(), True),
               StructField('Active', IntegerType(), True),
               StructField('New cases', IntegerType(), True),
               StructField('New deaths', IntegerType(), True),
               StructField('New recovered', IntegerType(), True),
               StructField('Deaths / 100 Cases', DoubleType(), True),
               StructField('Recovered / 100 Cases', DoubleType(), True),
               StructField('Deaths / 100 Recovered', DoubleType(), True),
               StructField('No. of countries', IntegerType(), True),
            ]

final_struc = StructType(fields=data_schema)

In [7]:
dataDayWise = spark.read.csv(
    'archive/day_wise.csv',
    sep = ',',
    header = True,
    schema = final_struc
    )

In [8]:
dataDayWise.printSchema()

root
 |-- Date: date (nullable = true)
 |-- Confirmed: integer (nullable = true)
 |-- Deaths: integer (nullable = true)
 |-- Recovered: integer (nullable = true)
 |-- Active: integer (nullable = true)
 |-- New cases: integer (nullable = true)
 |-- New deaths: integer (nullable = true)
 |-- New recovered: integer (nullable = true)
 |-- Deaths / 100 Cases: double (nullable = true)
 |-- Recovered / 100 Cases: double (nullable = true)
 |-- Deaths / 100 Recovered: double (nullable = true)
 |-- No. of countries: integer (nullable = true)

In [9]:
dataDayWise.show(5)

+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|      Date|Confirmed|Deaths|Recovered|Active|New cases|New deaths|New recovered|Deaths / 100 Cases|Recovered / 100 Cases|Deaths / 100 Recovered|No. of countries|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
|2020-01-22|      555|    17|       28|   510|        0|         0|            0|              3.06|                 5.05|                 60.71|               6|
|2020-01-23|      654|    18|       30|   606|       99|         1|            2|              2.75|                 4.59|                  60.0|               8|
|2020-01-24|      941|    26|       36|   879|      287|         8|            6|              2.76|                 3.83|                 72.22|               9|
|2020-01-25|     1434|    42|       39|  1353|      493|        16|            3|              2.93|                 2.72|                107.69|              11|
|2020-01-26|     2118|    56|       52|  2010|      684|        14|           13|              2.64|                 2.46|                107.69|              13|
+----------+---------+------+---------+------+---------+----------+-------------+------------------+---------------------+----------------------+----------------+
only showing top 5 rows

#### Generando file parquet

In [11]:
dataDayWise.write.save('data/parquets/dataDayWise', format='parquet')

### Formato pandas

In [12]:
import numpy as np

In [13]:
dataDayWise.describe().toPandas()

,summary,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,No. of countries
0,count,188,188,188,188,188,188,188,188,188,188,188
1,mean,4406960.010638298,230770.76063829788,2066001.2180851065,2110188.0319148935,87771.02127659574,3478.824468085106,50362.015957446805,4.86063829787234,34.34393617021278,22.104521276595744,144.35106382978722
2,stddev,4757988.32238103,217929.0941825846,2627976.394982256,1969670.449614726,75295.29325539981,2537.7356524569395,56090.892478856236,1.5795408582931336,16.206158512384242,22.568307087514032,65.17597855560284
3,min,555,17,28,510,0,0,0,2.04,1.71,6.26,6
4,max,16480485,654036,9468087,6358362,282756,9966,284394,7.18,57.45,134.43,187

In [15]:
dataDayWise.select(['Date', 'Deaths / 100 Cases', 'Recovered / 100 Cases', 'Deaths / 100 Cases']).groupBy('Date').mean().show()

+----------+-----------------------+--------------------------+-----------------------+
|      Date|avg(Deaths / 100 Cases)|avg(Recovered / 100 Cases)|avg(Deaths / 100 Cases)|
+----------+-----------------------+--------------------------+-----------------------+
|2020-07-24|                   4.05|                     56.61|                   4.05|
|2020-04-30|                   7.18|                     30.27|                   7.18|
|2020-03-07|                   3.37|                      53.9|                   3.37|
|2020-03-13|                    3.7|                     46.82|                    3.7|
|2020-02-04|                   2.06|                      3.44|                   2.06|
|2020-02-15|                   2.42|                     12.95|                   2.42|
|2020-05-23|                   6.45|                     38.76|                   6.45|
|2020-02-12|                    2.4|                     10.41|                    2.4|
|2020-05-08|                   7.01|                     32.59|                   7.01|
|2020-05-24|                    6.4|                     39.09|                    6.4|
|2020-06-04|                    5.9|                     43.48|                    5.9|
|2020-04-29|                   7.18|                     29.06|                   7.18|
|2020-05-10|                   6.92|                     33.38|                   6.92|
|2020-01-25|                   2.93|                      2.72|                   2.93|
|2020-04-26|                   7.11|                     27.87|                   7.11|
|2020-04-21|                   7.09|                     26.01|                   7.09|
|2020-03-09|                   3.52|                     53.81|                   3.52|
|2020-07-05|                   4.66|                      53.3|                   4.66|
|2020-03-10|                    3.6|                     53.14|                    3.6|
|2020-03-11|                   3.66|                     51.74|                   3.66|
+----------+-----------------------+--------------------------+-----------------------+
only showing top 20 rows